{{#each errosMsg}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Criar postagem:</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/posts/new" method="post">
      <label for="title">Título: </label>
      <input type="text" name="title" class="form-control">
      <br>
      <label for="slug">Slug: </label>
      <input type="text" name="slug" class="form-control">
      <br>
      <label for="description">Descrição: </label>
      <input type="text" name="description" class="form-control">
      <br>
      <label for="content">Conteúdo: </label>
      <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
      <br>
      <label for="category">Categoria: </label>
      <select name="category" class="form-select">
        {{#each categorias}}
          <option value="{{_id}}">{{name}}</option>
        {{else}}
          <option value="0">Nenhuma categoria registrada</option>
        {{/each}}
      </select>
      <button class="btn btn-success mt-4" type="submit">Criar postagem</button>
    </form>
  </div>
</div>
